h1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

h2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

h3{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}


.box{
    width:300px;
    height:300px;
    background-color:white;
    padding-left:150px;
    padding-right:150px;
    padding-bottom:150px;
    border:3px solid white;
    margin-top:100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.footer-sub-content-ex{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:20px;
}
.footer-ul-ex{
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:center;
}


.sub-article{
    width:150px;
    height:150px;
    background-color:blue !important;
    border-top-right-radius:20px;
}

.box2{
    font-size:30px;
    color:white;
    gap:100px;
}

.box3{
    border:px solid black;
    margin-top:50px;
}