.box{
    width:300px;
    height:300px;
    background-color:blue;
    border:3px solid yellow;
    padding-left:70px ;
    padding-top: 70;
    margin-left: 70;
}
.seyi{
    width:100px;
    height:100px;
    border:3px solid yellow;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position:absolute;
    left:70px ;
    right:70px ;



}
.box h2{
    width:100px;
    color:yellow;

}

.link{
    color:red;
    text-decoration: none ;
}

.link:hover{
    color:yellow;
}