h1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

h2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
h5{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

.sub-article{
    width:150px;
    height:150px;
    background-color:white;
    border-top-right-radius: 20px;
}

.box{
    width:250px;
    height:250px;
    background-color:white;
    padding-left:150px;
    padding-right:100px;
    padding-bottom:150px;
    border:3px solid white;
    margin-top:100px;
    margin-left: 300px;
    margin-bottom: 100px;
}

.foot{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:20px;
}

.footer-ul-ex{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content:center;
    margin-bottom: 20px;
}

.box2{
    font-size:30px;
    color:white;
    gap:100px;
    margin-bottom: 30px;
    margin-top:30px;
}

.box3{
    border:px solid black;
    margin-top:50px;
}

h3{
    display:flex;
    justify-content:flex-end;
    font-size:40px;
}
em{
    display:flex;
    justify-content:flex-end;
}
.end{
    display:flex;
    justify-content:flex-end;
    font-size:30px;
}
.mid-sub{
    display:flex;
    justify-content:flex-end;
}
a{
    display:flex;
    justify-content:flex-end;
}
p{
    display:flex;
    justify-content:flex-end;
}
b{
    display:flex;
    justify-content:flex-end;
}
a:hover{
    color:white;
}