.section{
    flex-direction: row;
    display:flex;
    justify-content:center;
    gap:100px;
}
.footer-ul{
    list-style-type: none;
}
.footer-sub-content{
        width:80px;
}

.footer-ul li{
    margin-top:10px;
    color:blue !important;
}

.box{
    background-color:white;
    width:200px;
    height:200px;
    color:white; !important;
}
