h1{
    font-family: Verdana;
    font-size:70px;
    color:red;
    flex-direction: row;
    display: flex;
}
h4{
    font-family: Verdana;
    display: flex;
    justify-content: flex-end;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.image{
    width:20px;
    height:20px;
    margin:10px;
    position:relative;
}
image{
    display:flex;
    width:50px;
    height:50px;
}
p{
    font-size:20px;
    position:absolute;
    padding-left:20px;
    flex-direction: row;
    top:5px;
    left:5px;
    display:flex;
    flex-direction: row;

}
.app{
    display:block;
    flex-direction: column;
    justify-content:flex-end;
}