body{
    border: solid 2px white ;
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height:0;
}


h1{flex-direction: column;
    color:brown;
    font-size:50px;
    text-align:center;
    gap:100px;
}
.box{
    border:1px solid black;
    background-color:blue;
    width:100px;
    height:100px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    display:flex;
    gap:20px;
    margin-top:100px;
    border-top-right-radius:30px;
}

.fb{
    background-color:orange;
}
a:hover{
    color:white;
}

.fb-content{
    display:flex;
    gap:20px;
}
h1{
    color:brown;
}
.\.article{

    background-color:blue;
    font-size:50px;
    color:white;
}